@media screen and (max-width: 640px) {

    /* Каркас */

    #wrapper {
        min-width: 100%;
    }

    #page {
        padding: 0 0 180px;
    }

    #footer {
        min-width: 100%;
    }

    .content {
        width: auto;
        overflow: hidden;
    }

    /* Шапка сайта */

    #header > .content .row {
        width: 88%;
        margin-left: 14%;
        border-bottom: 1px solid #b7babf;
    }

    #header > .content .col-6 {
        height: 90px;
        border-left: 1px solid #b7babf;
    }

    #header .logo {
        width: 150px;
        height: auto;
        margin: 10px auto 0;
    }

    #header .slogan {
        width: 150px;
        margin: 3px auto 10px;
        font-size: 14px;
        line-height: 16px;
    }

    #header .to-account {
        position: relative;
        margin: 30px auto 0;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }

    #header .phone {
        margin: 0 auto 10px;
        text-align: center;
    }

    #header .phone strong {
        font-size: 17px;
    }

    #header .phone br + span {
        display: none;
    }

    /* Меню в шапке */

    #header .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 15%;
        height: 90px;
        background: #6588ac;
        border-top: 0;
        border-right: 1px solid #4b6696;
        z-index: 1;
    }

    #header .menu:after {
        position: absolute;
        top: 0;
        left: 10px;
        right: 10px;
        bottom: 0;
        background: url("../img/sm_menu.png") center no-repeat;
        content: "";
    }

    #header .menu > .content {
        position: absolute;
        top: 100%;
        left: 0;
        right: -567%;
        display: none;
        margin: 0;
        padding: 0;
        width: auto;
    }

    #header .menu.sm > .content {
        display: block;
    }

    #header .menu table {
       width: 100%;
    }

    #header .menu .home {
        display: none;
    }

    #header .menu .item {
        display: block;
        background: #6588ac;
        border-bottom: 1px solid #4b6696;
    }

    #header .menu .item a {
        padding: 15px;
        line-height: 21px;
    }

    /* Подвал сайта */

    #footer .col-8 {
        display: none;
    }

    #footer .col-4 {
        width: 100%;
    }

    #footer .btn-group {
        margin: 15px -10px 15px 0;
        text-align: center;
    }

    #footer .col-6 {
        width: 100%;
    }

    #footer .copyright {
        text-align: center;
    }

    #footer .iconsystems,
    #footer .mobile,
    #footer .nomobile {
        text-align: center;
    }

    #footer .nomobile {
        display: block;
    }

    /* Заголовки */

    .h1 {
        margin-top: 30px;
    }


    /* Всплывающие окна */

    .dialog {
        width: 80%;
        margin-left: -45%;
        padding: 20px;
    }

    /* Форма входа */

    #login {
        width: 100%;
    }

    #login .bottom .btn-red {
        width: 180px;
    }

    /* Форма восстановления пароля */

    #recovery {
        width: 100%;
    }

    #recovery .bottom .btn-red {
        width: 170px;
    }

    #recovery .bottom .btn-blue {
        width: 150px;
    }

    /* Форма регистрации */

    #signup {
        width: 100%;
    }

    #signup .date-group {
        margin-left: -6px;
    }

    #signup .date-group .select {
        margin: 0 1%;
    }

}

@media screen and (max-width: 400px) {

    #header > .content .col-6 {
        height: 60px;
    }

    #header .logo {
        width: 110px;
        margin-top: 10px;
    }

    #header .slogan {
        width: 110px;
        margin-top: -5px;
        font-size: 10px;
    }

    #header .to-account {
        margin-top: 15px;
        font-size: 10px;
    }

    #header .phone {
        margin-top: -5px;
    }

    #header .phone strong {
        font-size: 14px;
    }

    #header .menu {
        height: 60px;
    }

}